# Ignore code workspace.
*.code-workspace

# Ignore target builds.
/target

# Ignore log files.
/logs
/logs/*.log

# Ignore image and embedded files.
/images
/secrets

# Ignore notes file.
notes.txt

# Ignore script file to launch.
peekaboo.sh
peekaboo-dev.sh
