body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

section {
	border: none;
}

div {
	border: none;
    align-items: center;
  }

h1 {
    color: #32659c;
	text-align:center;
}

p {
    font-size: 1.2em;
}

.custom-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    border: 1px solid #007bff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.custom-upload:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#fileLabel {
    margin-left: 10px;
    font-style: italic;
}

.thumbnail {
    display: block;
    margin: 20px auto;
    max-width: 400px;
    max-height: 300px;
}
